*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-header {
  background-color: #f2f4f5;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgb(80, 80, 97);
  padding: 5px 20px;
}

body {
  background-color: #f2f4f5;
  overflow-x: hidden;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location p {
  font-size: 14px;
}

.right-header {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contact, .mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  padding-top: 10px;
}

.mail p {
  margin: 0;
  margin-top: -5px;
  padding-left: 8px;
}
.contact p {
  margin: 0;
  margin-top: -5px;
  padding-left: 8px;
}